<a href="https://www.kaggle.com/code/kennethnjuguna/real-dataset-using-sql-and-python?scriptVersionId=146798703" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

After complting this lab you will be able to:

* Understand the dataset for Chicago Public School level performance
* Store the dataset in SQLite database.
* Retrieve metadata about tables and columns and query data from mixed case columns
* Solve example problems to practice your SQL skills including using built-in database functions

# <h2>We will use Chicago Public Schools- Progress Report Cards (2011-2012) </h2>
The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

# <h2>connect to the database.</h2>
Let us now load the ipython-sql extension and establish a connection with the database.
The syntax for connecting to magic sql using sqllite is:-

<p><i> %sql sqlite://DatabaseName </i></p>

where DatabaseName will be your .db file

In [3]:
# connect to the database
import csv, sqlite3

con=sqlite3.connect("RealWorldData.db")
cur=con.cursor()

In [4]:
%load_ext sql

In [6]:
%sql sqlite:///RealWorldData.db

# Store the dataset in a Table
<p>In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data. </p>
<p>using SQL, it first needs to be stored in the database.</p>
<p>We will first read the csv files from the given url into pandas dataframes.</p>
<p>Next we will be using the df.to_sql() function to convert each csv file to a table in sqlite with the csv data loaded in it.</p>

In [8]:
# import the needed libraries
import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

566

# Query the database system catalog to retrieve table metadata
You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [10]:
# In sqlite the system catalog table called sqlite_master contains the table metadata
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///RealWorldData.db
Done.

[('CHICAGO_PUBLIC_SCHOOLS_DATA',)]

# Query the database system catalog to retrieve column metadataÂ¶
The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [11]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

 * sqlite:///RealWorldData.db
Done.

[(78,)]